{% extends 'base.html' %}
{% block title %}
Receipts List
{% endblock title %}]
{% block content %}
<main>
    <h1>Accounts</h1>
        <table>
            <tr>
                <thead>Name</thead>
                <thead>Number</thead>
                <thead>Number of Receipts</thead>
            </tr>
            {% for value in account_list %}
            <tr>
                <td> {{ value.name }}</td>
                <td> {{ value.number }}</td>
                <td> {{ value.items.count }}</td>
            </tr>
            {% endfor %}
        </table>
</main>
{% endblock content %}
