{% extends 'base.html' %}
{% block title %}
Receipts List
{% endblock title %}]
{% block content %}
<main>
    <h1>My Receipts</h1>
        <table>
            <tr>
                <thead>Vendor</thead>
                <thead>Total</thead>
                <thead>Tax</thead>
                <thead>Date</thead>
                <thead>Category</thead>
                <thead>Account</thead>
            </tr>
            {% for value in receipt_list %}
            <tr>
                <td>{{ value.vendor }}</td>
                <td>{{ value.total }}</td>
                <td>{{ value.tax }}</td>
                <td>{{ value.date|date:"m/d/y" }}</td>
                <td>{{ value.category.name }}</td>
                <td>{{ value.account.name }}</td>
            </tr>
            {% endfor %}
        </table>
</main>
{% endblock content %}
